* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

:root {
    --color-main-background: #c4bbbb;
    --color-second-background: #ad9d9d;
    --color-main-text: #fff;
    --color-second-text: #fff;
    --color-hover-text: #948d8d;
}

body {
    background-color: var(--color-main-background);
}

.navbar {
    background: var(--color-second-background);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--color-main-text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 2rem;
}

.navbar__links:hover {
    color: var(--color-hover-text);
    transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        top: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        /* top: 100%; */
        top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        background: var(--color-second-background);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar__toggle {
        position: relative;
        z-index: 1000;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--color-main-text);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: var(--color-main-text);
    text-decoration: none;
}

.iconbox a {
    color: var(--color-main-text);
    padding: 10px;
    font-size: 64px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.iconbox a:hover {
    color: var(--color-hover-text);
}

/* front page */
.main {
    background-color: var(--color-background);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--color-main-background);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    grid-column: 1 / -1; /* This spans the content across all columns */
}

.main__content h1 {
    font-size: 8rem;
    color: var(--color-main-text);
    text-align: center;
}

.main__content h2 {
    font-size: 5rem;
    color: var(--color-main-text);
    text-align: left;
    margin-bottom: 6rem;
}

.main__content h3 {
    font-size: 3rem;
    color: var(--color-main-text);
    /* text-align: left; */
}

.main__content h4 {
    font-size: 2rem;
    color: var(--color-main-text);
    /* text-align: left; */
}

.center {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 6rem;
        margin-top: 1rem;
    }

    .main__content h2 {
        font-size: 4rem;
        margin-top: 1rem;
    }

    .main__content h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .main__content h4 {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

/* PROJECTS PAGE */

.projects__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto 50px auto;
    height: 90vh;
    background-color: var(--color-main-background);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    /* margin-bottom: 100px; */
}

.sidebar {
    display: grid;
    width: 100%;
    /* padding: 20px; */
    text-align: left;
    /* margin: 0 auto; */
    /* height: 40vh; */
    /* z-index: 1; */
    /* max-width: 1300px; */
    padding: 0 50px;
    /* margin-top: -150px; */
}

.sidebar h3 {
    font-size: 2rem;
    color: var(--color-main-text);
    margin-top: 10px;
}

.sidebar hr {
    width: 100%;
    size: 4px;
    color: var(--color-main-text);
    border: none;
    border-top: 4px solid var(--color-main-text);
    /* margin: 20px auto; */
}

.project {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    text-align: center;
    /* margin-left: 4rem; */
    margin-bottom: 1rem;
}

.project:hover {
    font-weight: bold;
    color: var(--color-main-text);
    transition: all 0.3s ease;
}

.project.active {
    font-weight: bold;
    /* color: var(--color-main-text); */
}

/* .sidebar .project__container {
    padding: 30px;
    transition: all 0.3s ease;
}

.sidebar .project__container.active {
    background-color: #777;
    color: var(--color-main-text);
} */

.description {
    display: none;
    /* position: absolute; */
    top: 0;
    /* right: -150px; */
    /* background-color: aqua; */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    /* margin-top: -200px; */
    color: var(--color-main-text);
    text-align: left;
    font-size: 1.5rem;
}

.description.active {
    display: block;
}

.description__content {
    width: 70%;
    margin-left: 100px;
    /* margin-right: -400px; */
}

.description h3 {
    font-size: 2rem;
    color: var(--color-main-text);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.description h4 {
    font-size: 1.5rem;
    color: var(--color-main-text);
    margin-top: 10px;
    margin-bottom: 20px;
}

.description ul {
    font-size: 2rem;
    color: var(--color-main-text);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.description a {
    font-size: 2rem;
    color: var(--color-main-text);
    margin-top: 10px;
    margin-bottom: 20px;
}

.description a:hover {
    color: var(--color-hover-text);
}